### This file is managed by saltstack - any changes will be overwritten ###

# Base on common arch linux config
lxc.include = /usr/share/lxc/config/archlinux.common.conf

# Declare root file system
lxc.rootfs = /var/lib/lxc/{{ locum }}/rootfs

# Specify hostname
lxc.utsname = {{ locum }}

# Use 64 bit architecture
lxc.arch = x86_64

{% for net in pillar['locums'][locum]['nets'] -%}
# Network "{{ net }}"
lxc.network.type = veth
lxc.network.link = int.{{ net }}
lxc.network.veth.pair = int.{{ net }}.{{ locum }}
lxc.network.flags = up
lxc.network.hwaddr = {{ pillar['addresses'][locum]['int']['ip4'][net]['mac'] }}
lxc.network.name = int.{{ net }}

{% endfor -%}

# Allow USB devices
lxc.cgroup.devices.allow = c 189:* rwm
lxc.cgroup.devices.allow = c 188:* rwm

{% if 'devs' in pillar['locums'][locum] -%}
# Mount shared device files
{% for dev in pillar['locums'][locum]['devs'] -%}
lxc.mount.entry=/dev/{{ dev }} dev/{{ dev }} none bind,optional,create=file
{%- endfor %}
{%- endif %}

# Share pacman cache with host
lxc.mount.entry = /var/cache/pacman/pkg var/cache/pacman/pkg none bind 0 0

# Disable kernel message forwarding
lxc.kmsg = 0
