### This file is managed by saltstack - any changes will be overwritten ###

[Match]
Name=ext

[Network]
IPv6AcceptRA=no

[Address]
Address={{ pillar.addresses[grains.id].ext.ip4.address }}/{{ pillar.addresses[grains.id].ext.ip4.netmask }}

[Route]
Gateway={{ pillar.addresses[grains.id].ext.ip4.gateway }}
Metric=100

{% if 'ip6' in pillar.addresses[grains.id].ext -%}
[Address]
Address={{ pillar.addresses[grains.id].ext.ip6.address }}/{{ pillar.addresses[grains.id].ext.ip6.netmask }}

[Route]
Gateway={{ pillar.addresses[grains.id].ext.ip6.gateway }}
Metric=100
{% endif -%}

[Network]
{% if grains.role == 'gateway' -%}
IPForward=true
{%- endif %}

{% if grains.role == 'gateway' -%}
DNS=127.0.0.1
{%- endif %}

{% if accumulator is defined and accumulator.tunnels is defined -%}
{% for tunnel in accumulator.tunnels|sort -%}
Tunnel={{ tunnel }}
{% endfor %}
{%- endif %}
