{% extends "web/apps/files/base/base.httpd.conf.j2" %}
{% block config %}
  DocumentRoot /srv/http/box

  DirectoryIndex index.php

  <Directory /srv/http/box>
    Require all granted
    Options +Indexes
  </Directory>
{% endblock %}
