{% extends "web/apps/files/base/base.httpd.conf.j2" %}
{% block config %}
  DocumentRoot /srv/http/box

  DirectoryIndex /_h5ai/public/index.php

  <Directory /srv/http/box>
    Require all granted
  </Directory>

  <Directory "/srv/http/box/_h5ai">
    AllowOverride All
  </Directory>
{% endblock %}
