{% extends "web/apps/files/base/base.httpd.conf.j2" %}
{% block config %}
  DocumentRoot /srv/http/wolke

  DirectoryIndex index.php

  <Directory /srv/http/wolke>
    Require all granted

    Options +FollowSymlinks
    AllowOverride All

    <IfModule mod_dav.c>
      Dav off
    </IfModule>

    SetEnv HOME /srv/http/wolke
    SetEnv HTTP_HOME /srv/http/wolke
  </Directory>
{% endblock %}
