### This file is managed by saltstack - any changes will be overwritten ###

{% if grains['area'] != 'home' -%}
# Define german NTP servers
server 0.de.pool.ntp.org iburst
server 1.de.pool.ntp.org iburst
server 2.de.pool.ntp.org iburst
server 3.de.pool.ntp.org iburst
{%- else -%}
# Use the router as NTP server
server {{ pillar['addresses']['router']['int']['priv']['ip4'] }} iburst
{%- endif %}

# Remember local drift
driftfile /var/lib/ntp/ntp.drift

# Don't allow access from external
restrict default ignore
restrict 127.0.0.1
restrict ::1
