### This file is managed by saltstack - any changes will be overwritten ###

# The default mail recipient
root=fooker@lab.sh

# The mail server
mailhub=mail.lab.sh

# The senders hostname
hostname=open-desk.net

# Configure crypto
usetls=yes
usestarttls=yes

# Configure credentials
authuser=no-reply@open-desk.net
authpass=PhWDZUIC5WvhrxcW
