### This file is managed by saltstack - any changes will be overwritten ###

ACTION=="add|change", SUBSYSTEM=="block", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="1", RUN+="/usr/bin/hdparm -B 64 -S 60 /dev/%k"
