### This file is managed by saltstack - any changes will be overwritten ###

# Allow all hive traffic
domain (ip ip6)
table filter
chain INPUT
source (
{% for node in pillar.hive.nodes %}
  {{ pillar.addresses[node].hive.ip4.address }} {{ pillar.addresses[node].hive.ip6.address }}
{% endfor %}
)
proto tcp dport (24007:24011 49152:49155)
ACCEPT;

