[ req ]
default_bits			= 4096

distinguished_name		= req_distinguished_name
req_extensions			= req_v3

string_mask				= nombstr


[ req_distinguished_name ]


[ req_v3 ]
basicConstraints		= CA:FALSE
keyUsage				= nonRepudiation, digitalSignature, keyEncipherment

subjectAltName			= @req_alt_names


[ req_alt_names ]
{% for domain in domains -%}
DNS.{{ loop.index }} = {{ domain }}
{% endfor %}

