### This file is managed by saltstack - any changes will be overwritten ###

default_process_limit = 128
default_client_limit = 1000

default_vsz_limit = 2048M

default_login_user = dovenull
default_internal_user = dovecot

protocols = 
