### This file is managed by saltstack - any changes will be overwritten ###

namespace inbox {
  mailbox "Trash" {
    auto = subscribe
    special_use = \Trash
  }
  mailbox "Deleted Messages" {
    special_use = \Trash
  }
  mailbox "Deleted Items" {
    special_use = \Trash
  }
  mailbox "Rubbish" {
    special_use = \Trash
  }
  mailbox "Gelöschte Objekte" {
    special_use = \Trash
  }
  mailbox "Gelöschte Elemente" {
    special_use = \Trash
  }
  mailbox "Papierkorb" {
    special_use = \Trash
  }
  mailbox "Itens Excluidos" {
    special_use = \Trash
  }
  mailbox "Itens Excluídos" {
    special_use = \Trash
  }
  mailbox "Lixeira" {
    special_use = \Trash
  }
  mailbox "Prullenbak" {
    special_use = \Trash
  }
  mailbox "Verwijderde items" {
    special_use = \Trash
  }
  mailbox "Archive" {
    auto = subscribe
    special_use = \Archive
  }
  mailbox "Archiv" {
    special_use = \Archive
  }
  mailbox "Archives" {
    special_use = \Archive
  }
  mailbox "Arquivo" {
    special_use = \Archive
  }
  mailbox "Arquivos" {
    special_use = \Archive
  }
  mailbox "Archief" {
    special_use = \Archive
  }
  mailbox "Sent" {
    auto = subscribe
    special_use = \Sent
  }
  mailbox "Sent Messages" {
    special_use = \Sent
  }
  mailbox "Sent Items" {
    special_use = \Sent
  }
  mailbox "Gesendet" {
    special_use = \Sent
  }
  mailbox "Gesendete Objekte" {
    special_use = \Sent
  }
  mailbox "Gesendete Elemente" {
    special_use = \Sent
  }
  mailbox "Itens Enviados" {
    special_use = \Sent
  }
  mailbox "Enviados" {
    special_use = \Sent
  }
  mailbox "Verzonden items" {
    special_use = \Sent
  }
  mailbox "Verzonden" {
    special_use = \Sent
  }
  mailbox "Drafts" {
    auto = subscribe
    special_use = \Drafts
  }
  mailbox "Entwürfe" {
    special_use = \Drafts
  }
  mailbox "Rascunhos" {
    special_use = \Drafts
  }
  mailbox "Concepten" {
    special_use = \Drafts
  }
  mailbox "Junk" {
    auto = subscribe
    special_use = \Junk
  }
  mailbox "Junk-E-Mail" {
    special_use = \Junk
  }
  mailbox "Junk E-Mail" {
    special_use = \Junk
  }
  mailbox "Spam" {
    special_use = \Junk
  }
  mailbox "Lixo Eletrônico" {
    special_use = \Junk
  }
  mailbox "Ongewenste e-mail" {
    special_use = \Junk
  }
}
