{% extends "web/apps/files/base/base.httpd.conf.j2" %}
{% block config %}
  DocumentRoot /srv/http/{{ app }}

  DirectoryIndex index.php

  <Directory /srv/http/{{ app }}>
    Require all granted
    AllowOverride All
  </Directory>
{% endblock %}
