### This file is managed by saltstack - any changes will be overwritten ###

{% if 'port' in pillar.tinc[instance].hosts[host] -%}
{% if 'host' in pillar.tinc[instance].hosts[host] -%}
Address={{ pillar.tinc[instance].hosts[host].host }} {{ pillar.tinc[instance].hosts[host].port }}
{%- else -%}
Address={{ pillar.addresses[host].ext.hostname }} {{ pillar.tinc[instance].hosts[host].port }}
{%- endif %}
{%- endif %}

{{ pillar.tinc[instance].hosts[host].public_key }}
