<?php

define('DB_NAME',     'chez_janine');
define('DB_USER',     'chez_janine');
define('DB_PASSWORD', '{{ pillar['database']['accounts']['chez_janine']['password'] }}');
define('DB_HOST',     'localhost');
define('DB_CHARSET',  'utf8mb4');
define('DB_COLLATE',  '');

$table_prefix  = 'wp_';

define('AUTH_KEY',         '{+dwX0|FNbm:=R>JT`)ue7@O3vq6R{<93enss{|Yx*;P,P<X{^,9@r/i]Aa:Ex1M');
define('SECURE_AUTH_KEY',  'a) -3UA*1]`$;yTuT*V24#?Njtf$~mZAe[%2A%cxvdfBW:y@ksTk,0{_+I{z~/F8');
define('LOGGED_IN_KEY',    '%!pg8bA8:K}<iSv&iM/B>||CA!XP?+p-PJ#qIk`v ZYG^F{q[vn|+ZaHRDp,+Yjv');
define('NONCE_KEY',        '#_d(#MB6VVsN4nhr^P+PkUfr+;>e<kkc<f]-!.L+iss+5}oW!%Oo3*!$ilo&tg>?');
define('AUTH_SALT',        '$Ph:VnfNl6noic=. {iY}^bi|=Y _<^bJ*Vk2*Dp[CvWSPAjM,Q=`U|nq`~S/HEy');
define('SECURE_AUTH_SALT', 'Sf2gp-|rA;G>wa)>y:*mU~L6:k:P%|>j-yQbW&6wp$cu6TL}V<}[]Y=c+b_AWM+^');
define('LOGGED_IN_SALT',   'f=;Bb|Z76^,b@W9%3f8)W48HKc dWSTQ.(WpIIT;&t,I|LL-,JIlgkO 9LL|)+gq');
define('NONCE_SALT',       '.9rUdvpSA[j8xD?Dc{mka+XRl*B!`8jC@d<4 ]d4dM>_-uNTitiQVEE7U]_}/nnK');

define('WPLANG', 'de_DE');

define('WP_DEBUG', false);

if (!defined('ABSPATH')) define('ABSPATH', dirname(__FILE__) . '/');

require_once(ABSPATH . 'wp-settings.php');
