### This file is managed by saltstack - any changes will be overwritten ###

interface ppp0 {
    send ia-pd 0;
    send rapid-commit;
};

id-assoc pd 0 {
    {% for iface in pillar.addresses[grains.id].int %}
    prefix-interface int.{{ iface }} {
        sla-id {{ pillar.networks[iface].ip6.sla }};
        ifid 1;
        sla-len 8;
    };
    {% endfor %}
};
