Name={{ grains['id'] | replace('.', '_') | replace('-', '_') }}

DeviceType=tap
Device=int.mngt.tun

Mode=switch
ReplayWindow=512

{% for peer in salt['mine.get']('*', 'cmd.run').keys() if peer != grains['id'] -%}
ConnectTo={{ peer | replace('.', '_') | replace('-', '_') }}
{% endfor -%}
