### This file is managed by saltstack - any changes will be overwritten ###

Name={{ pillar.tinc[instance].hosts[grains.id].identity | default(grains.id | replace('-', '_')) }}

DeviceType=tap
Interface={{ pillar.tinc[instance].interface }}{% if bridged %}.tinc{% endif %}

{% if 'port' in pillar.tinc[instance].hosts[grains.id] -%}
Port={{ pillar.tinc[instance].hosts[grains.id].port }}
{%- else -%}
Port=0
{%- endif %}

Mode=switch
ReplayWindow=512

{% for connect in accumulator['connects'] | sort -%}
ConnectTo={{ connect }}
{% endfor -%}
