### This file is managed by saltstack - any changes will be overwritten ###

Name={{ grains['id'] | replace('-', '_') }}

DeviceType=tap
Interface=int.mngt{% if bridged %}.tinc{% endif %}

Mode=switch
ReplayWindow=512

{% for host in pillar['tinc']['hosts'].keys() if host != grains['id'] and 'ext' in pillar['addresses'][host] and 'hostname' in pillar['addresses'][host]['ext'] -%}
ConnectTo={{ host | replace('-', '_') }}
{% endfor -%}
