### This file is managed by saltstack - any changes will be overwritten ###

# Check every 300 seconds
daemon=300

# Daemon settings
pid=/var/run/ddclient.pid

# Use ssl-support.
ssl=yes

# Update via local interface
use=if, if=ppp0

# Define hostname
protocol=noip, \
server={{ pillar['ddclient']['provider'] }}, \
login={{ pillar['ddclient']['username'] }}, \
password={{ pillar['ddclient']['password'] }} \
{{ pillar['ddclient']['hostname'] }}

