### This file is managed by saltstack - any changes will be overwritten ###

# This is the one and only
dhcp-authoritative
dhcp-fqdn
domain={{ pillar['domain']['name'] }}

# Provide DHCP ranges for each network
{%- for network in pillar['networks'].values() %}
dhcp-range={{ network['ip4']['dynamic'][0] }},{{ network['ip4']['dynamic'][1] }},1d
{%- endfor %}

# Declare additional options
dhcp-option=option:router,0.0.0.0
dhcp-option=option:domain-name,{{ pillar['domain']['name'] }}
dhcp-option=option:domain-search,{{ pillar['domain']['name'] }}
#dhcp-option=option:mtu,9000

# Declare static addresses
{%- for hostname, host in pillar['addresses'].items() %}
{%- for netname, net in host['int'].items() %}
{%- if net['mac'] %}
dhcp-host={{ net['mac'] }},{{ hostname }}.{{ netname }}.int.{{ pillar['domain']['name'] }},{{ net['ip4'] }},infinite
{% endif %}
{%- endfor %}
{%- endfor %}
