table nat
chain POSTROUTING {
  # Simple PNAT masquerading
  out-interface (ext.br ffx.br) MASQUERADE;
}

table filter {
  chain FORWARD {
    # Allow forwarding between some networks
    in-interface (int.mngt.br int.priv.br int.open.br) out-interface ext.br      ACCEPT;
    in-interface int.priv.br                           out-interface ffx.br      ACCEPT;
    in-interface int.priv.br                           out-interface int.open.br ACCEPT;
  
    # Allow related connections to be forwarded back to originator
    mod conntrack ctstate INVALID DROP;
    mod conntrack ctstate (ESTABLISHED RELATED) ACCEPT;
  }
  
  chain INPUT {
  
    # Allow access to all service from internal private and management
    in-interface (int.priv.br int.mngt.br) ACCEPT;
  }
}

table nat
chain PREROUTING {
{%- for f in pillar['nat']['forwardings'] %}
  in-interface ext.br
  proto {{ f['proto'] }} dport {{ f['dport'] }}
  DNAT to {{ f['thost'] }}:{{ f['tport'] }};
{% endfor -%}
}

table filter
chain FORWARD {
{%- for f in pillar['nat']['forwardings'] %}
  in-interface ext.br
  proto {{ f['proto'] }} dport {{ f['dport'] }}
  destination {{ f['thost'] }} ACCEPT;
{% endfor -%}
}

