### This file is managed by saltstack - any changes will be overwritten ###

[Unit]
Description=MBit Gauge controller
After=ppp@uplink.service
Wants=ppp@uplink.service


[Service]
ExecStart=/opt/mbgauge/mbgauge /dev/mbgauge ppp0

Restart=on-failure
RestartSec=30s


[Install]
WantedBy=multi-user.target
