### This file is managed by saltstack - any changes will be overwritten ###

domain (ip ip6)
table filter {
  chain INPUT {

    # Allow IPSec
    proto (ESP AH) ACCEPT;

    proto udp
    dport (500 4500)
    ACCEPT;

    # Allow GRE only over IPSec
    proto gre {
      mod policy
      dir in
      pol ipsec
      ACCEPT;

      DROP;
    }

    # Allow routing protocols on peer links
    {%- for peer in pillar.peering.transfers[grains.id] %}
    {%- if  'ospf' in pillar.peering.peers[peer].protos %}
    interface peer.{{ pillar.peering.peers[peer].netdev }} proto OSPFIGP ACCEPT;
    {%- endif %}
    {%- if  'bgp' in pillar.peering.peers[peer].protos %}
    interface peer.{{ pillar.peering.peers[peer].netdev }} proto (tcp udp) dport bgp ACCEPT;
    {%- endif %}
    {%- endfor %}
  }

  chain OUTPUT {
    # Allow GRE only over IPSec
    proto gre {
      mod policy
      dir out
      pol ipsec
      ACCEPT;

      DROP;
    }
  }
}

# Allow forwarding between nodes
domain (ip ip6)
table filter
chain FORWARD
in-interface peer.+
out-interface peer.+
ACCEPT;

