### This file is managed by saltstack - any changes will be overwritten ###

domain (ip ip6)
table filter {
  chain INPUT {
    # Allow IPSec
    proto (ESP AH)
    ACCEPT;

    proto udp
    dport (500 4500)
    ACCEPT;

    # Allow GRE only over IPSec
    proto gre {
      mod policy
      dir in
      pol ipsec
      ACCEPT;

      DROP;
    }
  }

  chain OUTPUT {
    # Allow GRE only over IPSec
    proto gre {
      mod policy
      dir out
      pol ipsec
      ACCEPT;

      DROP;
    }
  }
}

