### This file is managed by saltstack - any changes will be overwritten ###

domain (ip ip6)
table filter {

{% for proto in pillar.peering.transfers[grains.id].values() | groupby('proto') %}
  # Allow {{ proto.grouper }}
{% if proto.grouper in ('gre', 'gre6') %}
  chain INPUT {
    # Allow IPSec
    proto (ESP AH)
    ACCEPT;

    proto udp
    dport (500 4500)
    ACCEPT;

    # Allow GRE only over IPSec
    proto gre {
      mod policy
      dir in
      pol ipsec
      ACCEPT;

      DROP;
    }
  }

  chain OUTPUT {
    # Allow GRE only over IPSec
    proto gre {
      mod policy
      dir out
      pol ipsec
      ACCEPT;

      DROP;
    }
  }
{% endif %}
{% endfor %}

  # Allow routing protocols on peer links
  chain INPUT {

{% for peer in pillar.peering.transfers[grains.id] %}
{% if 'ospf' in pillar.peering.peers[peer].protos %}
    interface peer.{{ pillar.peering.peers[peer].netdev }} proto OSPFIGP ACCEPT;
{% endif %}
{% if 'bgp' in pillar.peering.peers[peer].protos or 'ibgp' in pillar.peering.peers[peer].protos %}
    interface peer.{{ pillar.peering.peers[peer].netdev }} proto (tcp udp) dport bgp ACCEPT;
{% endif %}
{% endfor %}
  }
}

# Allow forwarding between nodes
domain (ip ip6)
table filter
chain FORWARD
in-interface peer.+
out-interface peer.+
ACCEPT;

