### This file is managed by saltstack - any changes will be overwritten ###

config setup

conn %default
	ikelifetime=60m
	keylife=20m
	rekeymargin=3m
	keyingtries=1
	authby=secret
	keyexchange=ikev2
	mobike=no
	type=transport
	auto=start
	leftsubnet=%dynamic[gre]
	rightsubnet=%dynamic[gre]

{% for peer in pillar.peering.transfers[grains.id] if pillar.peering.transfers[grains.id][peer].proto in ('gre', 'gre6') %}
conn {{ peer }}
	left=%any
	right={{ pillar.peering.peers[peer].remote }}
	
	authby=pubkey
	leftsigkey=self.pem
	rightsigkey={{ peer }}.pem

	ike={{ pillar.peering.peers[peer].ipsec.ike }}
	esp={{ pillar.peering.peers[peer].ipsec.esp }}
{% endfor %}

