### This file is managed by saltstack - any changes will be overwritten ###

# Simple PNAT masquerading
domain ip
table nat
chain POSTROUTING
out-interface (ppp0 maglab)
MASQUERADE;

domain (ip ip6)
table filter
chain FORWARD {
  # Clamp MSS to PMTU for broken upstream MTU discovery
  proto tcp tcp-flags (SYN RST) SYN TCPMSS clamp-mss-to-pmtu;

  # Allow forwarding between some networks
  in-interface (int.mngt int.priv int.open int.major) out-interface ppp0      ACCEPT;
  in-interface (int.mngt int.priv int.open int.major) out-interface ext.sixxs ACCEPT;
  in-interface (int.priv int.major)                   out-interface int.open  ACCEPT;
  in-interface (int.mngt int.priv int.open int.major) out-interface maglab    ACCEPT;

  # Allow related connections to be forwarded back to originator
  mod conntrack ctstate (ESTABLISHED RELATED) ACCEPT;
}


domain ip {
  {%- for f in pillar['forwardings'][grains['id']] %}
  table nat
  chain PREROUTING {
    in-interface ppp0
    proto {{ f['proto'] }} dport {{ f['dport'] }}
    DNAT to {{ f['thost'] }}:{{ f['tport'] }};
  }

  table filter
  chain FORWARD {
    in-interface ppp0
    proto {{ f['proto'] }} dport {{ f['dport'] }}
    destination {{ f['thost'] }} ACCEPT;
  }
  {% endfor -%}
}

