[Match]
Name=int.priv


[Network]
Address={{ pillar['addresses'][grains['id']]['int']['ip4']['priv']['address'] }}/{{ pillar['networks']['priv']['netmask'] }}

{% if grains['role'] != 'gateway' and 'ext' not in pillar['addresses'][grains['id']] and 'mngt' not in pillar['addresses'][grains['id']]['int']['ip4'] -%}
Gateway={{ pillar['networks']['priv']['gateway'] }}
{%- endif %}

{% if grains['role'] == 'gateway' -%}
IPForward=true
{%- endif %}
