[Match]
Name=int.priv


[Network]
Address={{ pillar['addresses'][grains['id']]['int']['ip4']['priv']['address'] }}/{{ pillar['networks']['priv']['netmask'] }}

{% if pillar['addresses'][grains['id']]['int']['ip4']['priv']['address'] != pillar['networks']['priv']['gateway'] -%}
Gateway={{ pillar['networks']['priv']['gateway'] }}
{%- endif %}

{% if grains['role'] == 'gateway' -%}
IPForward=true
{%- endif %}
