### This file is managed by saltstack - any changes will be overwritten ###

[Match]
Name=int.open

[Address]
Address={{ pillar['addresses'][grains['id']]['int']['open']['ip4'] }}/{{ pillar['networks']['open']['ip4']['netmask'] }}

[Address]
Address={{ pillar['addresses'][grains['id']]['int']['open']['ip6'] }}/{{ pillar['networks']['open']['ip6']['netmask'] }}

{% if grains['role'] == 'gateway' -%}
[Address]
Address=fe80::/64
{%- endif %}

{% if grains['role'] != 'gateway' -%}
[Route]
Gateway={{ pillar['networks']['open']['ip4']['gateway'] }}
Metric=400

[Route]
Gateway={{ pillar['networks']['open']['ip6']['gateway'] }}
Metric=400
{%- endif %}

[Network]
Domains=open.int.open-desk.net
Domains=~open.int.open-desk.net

DNS={{ pillar['networks']['open']['ip4']['gateway'] }}
DNS={{ pillar['networks']['open']['ip6']['gateway'] }}

IPv6AcceptRouterAdvertisements=no
