### This file is managed by saltstack - any changes will be overwritten ###

[Match]
Name=ffx.data


[Network]
{% if grains['role'] == 'gateway' -%}
IPForward=true
{%- endif %}

Domains=~fffd
Domains=~fffd.eu

DNS=10.185.0.11
DNS=10.185.0.1
DNS=10.185.0.2
DNS=10.185.0.3
DNS=10.185.0.4

IPv6AcceptRouterAdvertisements=no


[Address]
Address={{ pillar['addresses'][grains['id']]['ffx']['data']['ip4'] }}/16

[Address]
Address={{ pillar['addresses'][grains['id']]['ffx']['data']['ip6'] }}/64

