### This file is managed by saltstack - any changes will be overwritten ###

[Match]
Name=ext


[Address]
Address={{ pillar['addresses'][grains['id']]['ext']['ip4']['address'] }}/{{ pillar['addresses'][grains['id']]['ext']['ip4']['netmask'] }}

[Route]
Gateway={{ pillar['addresses'][grains['id']]['ext']['ip4']['gateway'] }}
Metric=100

[Network]
{% if grains['role'] == 'gateway' -%}
IPForward=true
{%- endif %}

{% if grains['role'] != 'gateway' -%}
DNS=8.8.8.8 8.8.4.4
{%- endif %}

{% if accumulator is defined and accumulator['tunnels'] is defined -%}
{% for tunnel in accumulator['tunnels'] -%}
Tunnel={{ tunnel }}
{% endfor %}
{%- endif %}

IPv6AcceptRouterAdvertisements=yes
