### This file is managed by saltstack - any changes will be overwritten ###

{% import 'hive/init.sls' as hive with context -%}

[PHP]
extension = memcached.so

session.save_handler = memcached
session.save_path = {% for node in pillar.hive.nodes if node != grains.id  -%}
{{ pillar.addresses[node].hive.ip4.address }}:11211
{%- if not loop.last -%},{%- endif -%}
{%- endfor %}

#memcached.serializer = php

memcached.sess_binary = 1
memcached.sess_consistent_hash = 1
memcached.sess_number_of_replicas = 2
