### This file is managed by saltstack - any changes will be overwritten ###

agentaddress udp:{{ pillar.addresses[grains.id].int.mngt.ip4 }}
agentaddress udp:127.0.0.1

#master agentx

includeDir /etc/snmp/snmpd.conf.d
