### This file is managed by saltstack - any changes will be overwritten ###

/srv/data{% for node in pillar.peering.interfaces if 'hive' in pillar.peering.interfaces[node] %} {{ pillar.peering.interfaces[node].hive.ip4.address }}(rw,fsid=root,no_subtree_check,no_root_squash) {{ pillar.peering.interfaces[node].hive.ip6.address }}(rw,fsid=root,no_subtree_check,no_root_squash){% endfor %}

