<?php
$CONFIG = array (
  'instanceid' => '{{ pillar['wolke']['instanceid'] }}',
  'passwordsalt' => '{{ pillar['wolke']['passwordsalt'] }}',
  'secret' => '{{ pillar['wolke']['secret'] }}',
  'trusted_domains' =>
  array (
    0 => 'cloud.open-desk.net',
    1 => 'wolke.kufuewg.de',
    2 => 'cloud.kufuewg.de',
  ),
  'datadirectory' => '/srv/data/wolke',
  'overwrite.cli.url' => 'https://cloud.open-desk.net',
  'dbtype' => 'mysql',
  'version' => '8.2.2.2',
  'dbname' => 'wolke',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'wolke',
  'dbpassword' => '{{ pillar['database']['accounts']['wolke']['password'] }}',
  'logtimezone' => 'UTC',
  'installed' => true,
  'forcessl' => true,
  'theme' => '',
  'loglevel' => 2,
  'maintenance' => false,
  'trashbin_retention_obligation' => 'auto',
  'memcache.local' => '\OC\Memcache\APCu',
  'memcache.distributed' => '\OC\Memcache\Memcached',
  'memcached_servers' => array(
     array('north-zitadelle', 11211),
     array('south-zitadelle', 11211),
  ),
  'mail_smtpmode' => 'sendmail',
  'mail_smtpname' => 'fooker',
  'mail_smtppassword' => 'IwIhtSoGatSoB',
  'mail_from_address' => 'no-reply',
  'mail_domain' => 'lab.sh',
);
