### This file is managed by saltstack - any changes will be overwritten ###

{% for backup in pillar['backup']['retentions'] -%}
{{ '%8s %7s %7s %7s %7s            root    '|format(
  backup['interval']['minute']|default('*'),
  backup['interval']['hour']|default('*'),
  backup['interval']['daymonth']|default('*'),
  backup['interval']['month']|default('*'),
  backup['interval']['dayweek']|default('*')
) -}}
{% if loop.first %}/usr/bin/rsnapshot sync; {% endif %}/usr/bin/rsnapshot {{ backup['id'] }}
{% endfor %}
