### This file is managed by saltstack - any changes will be overwritten ###

[Match]
Name=cluster


[Address]
Address={{ pillar['cluster']['network']['prefix'] }}::100:{{ pillar['cluster']['nodes'].index(grains['id']) }}/{{ pillar['cluster']['network']['suffix'] }}


[Network]
# This device is hardly bound to at least one tunnel interface
{% for node in pillar['cluster']['nodes'] if node != grains['id'] -%}
BindCarrier=cluster-{{ pillar['cluster']['nodes'].index(node) }}
{% endfor -%}

# Use Link Local Addressing for v4 and v6
LinkLocalAddressing=ipv6

# Don't accept any other addresses
IPv6AcceptRouterAdvertisements=no

