### This file is managed by saltstack - any changes will be overwritten ###

# Use diversity algorithm
diversity true

# Choos a random router ID on each startup
random-id true

# Allow frontend connections
local-port 33123

# Use link detection
link-detect true

# Enable sending timestamps with each Hello
default enable-timestamps true

# Route over all cluster interfaces
{% for node in pillar['cluster']['nodes'] if node != grains['id'] -%}
interface cluster-{{ pillar['cluster']['nodes'].index(node) }} wired true
{% endfor %}

## Import all cluster IPs
#in ip {{ pillar['cluster']['network'] }} allow
#in deny
#
## Export all cluster IPs
#out ip {{ pillar['cluster']['network'] }} allow
#out deny
#
## Forward all cluster IPs
redistribute local ip {{ pillar['cluster']['network']['prefix']['ip4'] }}.0/24 allow
redistribute local ip {{ pillar['cluster']['network']['prefix']['ip6'] }}::0/64 allow
redistribute local deny

