### This file is managed by saltstack - any changes will be overwritten ###

[NetDev]
Description=Hive Link to {{ remote }}

Name=hive-{{ pillar['hive']['nodes'].index(remote) }}

Kind=gre


[Tunnel]
Local={{ pillar['addresses'][grains['id']]['ext']['ip4']['address'] }}
Remote={{ pillar['addresses'][remote]['ext']['ip4']['address'] }}

