{% import 'cluster/init.sls' as cluster with context -%}

[PHP]
extension = memcached.so

session.save_handler = memcached
session.save_path = {{ cluster.address_ip4('north-zitadelle') }}:11211,{{ cluster.address_ip4('south-zitadelle') }}:11211

memcached.serializer = php

memcached.sess_binary = 1
memcached.sess_consistent_hash = 1
memcached.sess_number_of_replicas = 1
