### This file is managed by saltstack - any changes will be overwritten ###

server:
	# Drop privilegues
	username: unbound

	# Logging
	verbosity: 1
	use-syslog: no

	# Port and interfaces to listen on
	port: 15353
	interface: lo

	# Use incoming interfaces for answers
	interface-automatic: yes

	# Root servers to use
	root-hints: "/etc/unbound/named.cache"

	# Trust anchor for DNSSEC
	trust-anchor-file: "/etc/unbound/trusted-key.key"
