### This file is managed by saltstack - any changes will be overwritten ###

{% for net in pillar.networks %}
interface int.{{ net }} {
	AdvSendAdvert on;

	MinRtrAdvInterval 3;
	MaxRtrAdvInterval 10;

	prefix ::/64 {
		AdvOnLink on;
		AdvAutonomous on;
	};
};
{% endfor %}
