### This file is managed by saltstack - any changes will be overwritten ###

[Match]
Name=peer.{{ pillar.peering.peers[peer].netdev }}


[Network]
Description=Peering with {{ peer }}

# No link lokal addressing
LinkLocalAddressing=no

# Don't accept any other addresses
IPv6AcceptRA=no


[Address]
Address={{ pillar.peering.transfers[grains.id][peer].ip4.local }}/32
Peer={{ pillar.peering.transfers[grains.id][peer].ip4.remote }}/32
Scope=link


[Address]
Address={{ pillar.peering.transfers[grains.id][peer].ip6.local }}/64
Peer={{ pillar.peering.transfers[grains.id][peer].ip6.remote }}/64
Scope=link
