### This file is managed by saltstack - any changes will be overwritten ###

[Interface]
PrivateKey = {{ pillar.peering.transfers[grains.id][peer].wireguard.privkey | trim() }}
{% if 'local' in pillar.peering.transfers[grains.id][peer].wireguard.port %}
ListenPort = {{ pillar.peering.transfers[grains.id][peer].wireguard.port.local }}
{% endif %}

[Peer]
PublicKey = {{ pillar.peering.transfers[grains.id][peer].wireguard.pubkey | trim() }}
{% if 'psk' in pillar.peering.transfers[grains.id][peer].wireguard %}
PresharedKey = {{ pillar.peering.transfers[grains.id][peer].wireguard.psk | trim() }}
{% endif %}

AllowedIPs = 0.0.0.0/0, ::/0
PersistentKeepalive = 10

{% if 'remote' in pillar.peering.peers[peer] and
      'remote' in pillar.peering.transfers[grains.id][peer].wireguard.port %}
Endpoint = {{ pillar.peering.peers[peer].remote }}:{{ pillar.peering.transfers[grains.id][peer].wireguard.port.remote }}
{% endif %}
